.info-list {
    color: $greyish-brown;
    margin-top: 18px;

    &__item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: Arial;
        font-size: 12px;
        line-height: 1.33;
    }
}