.main-section {
    font-size: 36px;
    line-height: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__background {
        background: url('../img/index-background-mobile@1x.jpg') no-repeat;
        background-size: cover;
        width: 100%;
        text-align: center;
    }

    &__product-preview {
        margin-top: -168px;
    }

    &__action.button {
        width: calc(100% - 40px);
        margin: 0 20px!important;
        text-transform: uppercase;
    }

    &__subtitle {
        font-family: Oswald;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
    }
}