.main-section {
    padding: 0 20px;
    background: url('../img/index-background-mobile@1x.jpg') no-repeat center;
    font-size: 36px;
    line-height: 1;
    color: white;
    
    &__title {

    }
}