.social-buttons {
    display: flex;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 20px;
    box-sizing: border-box;
    justify-content: center;

    &__item {
        height: 22px;
        width: 22px;
        &--vkontakte {
            background: url('../img/icon-vk.svg') no-repeat center;
        }
        &--instagram {
            background: url('../img/icon-insta.svg') no-repeat center;
        }
        &--facebook {
            background: url('../img/icon-fb.svg') no-repeat center;
        }
    }

    &__item + &__item {
        margin-left: 40px;
    }
}